<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  image picker with crop plugin demo :)

  <ion-col>
    <ion-button color="primary" size="full" (click)="selectImage()">Selecionar imagem</ion-button>
  </ion-col>
  
    <p>picturePathConverdSrc: {{picturePathConverdSrc}}</p>
    <ion-avatar>
      <img [src]="picturePathConverdSrc">
    </ion-avatar>

    <p>pictureCropedPathConvertedSrc: {{pictureCropedPathConvertedSrc}}</p>
    <ion-avatar>
      <img [src]="pictureCropedPathConvertedSrc">
    </ion-avatar>

    <p>pictureEncodedBase64: {{pictureEncodedBase64}}</p>
    <ion-avatar>
      <img [src]="pictureEncodedBase64">
    </ion-avatar>
  
</ion-content>
